<div class ="center jumbotron">
  <div class="sign_up_message">
    <h1>Scummy Breakfast</h1>
    <p>A blog about coding, climbing, and living in Japan.<p>

    <%=link_to "Sign up", signup_path, class: "btn btn-lg btn-primary"%>
  </div>
</div>
