<div class='sidebar_home'>
  <h3>Search by tag</h1>
  <ul class="tags_table">
    <% Tag.all.sort_by{|t| t.name.downcase}.each do |tag| %>
      <li class="tag_links"><%= tag_link_with_count(tag) %></li>
    <% end %>
  </ul>
</div>
