<% provide(:title, "Coder, climber, ex-pat in Japan.") %>
<h1>About me!</h1>
<p>This will probably be where I brag about my accomplishments.</p>
<iframe width="224" height="126" src="https://www.youtube.com/embed/7et3okOENO4" frameborder="0" allowfullscreen></iframe>
