<% provide(:title, "Coding, climbing, thoughts, and insights from the heart of Japan.") %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="about">
        <div class="scummy_def">
          <h1>Scummy Breakfast</h1>
          <p><strong>scummy breakfast| [skuhm-ee brek-fuhst] | noun phrase</strong></p>
          <p style="margin-top:15px;margin-bottom:15px;">A scummy breakfast is a breakfast eaten with friends at an obscene hour of the morning. Members are typically hungover, and the method of transportaiton is preferably a carpool. If you're located in Albuquerque, you can do a lot worse than the Burrito Pronto smothered in Red & Green at <a href="https://www.hellodeliabq.com/" target="_blank">Hello Deli</a>.</p>
        </div>
        <div style="margin-top:15px;">
          <h1>SB is the blog of</h1>
          <p style="margin-left:20px;margin-top:20px;margin-bottom:20px">Jeffrey Goldman<br>Tokyo, Japan<br>email: jeffreycgoldman@gmail.com</p>
          <p>Jeff codes (in Ruby/Rails), climbs (mostly boulders), and has lived and worked in Japan for 7+ years. 
          <p>Please drop him a line at the email above and enjoy the bouldering vid below.</p>  
          <div class="embed-responsive embed-responsive-16by9  video" style="margin-top:20px;">
            <iframe width="560" height="340" src="https://www.youtube.com/embed/7et3okOENO4" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
