<% provide(:title, "Coding, climbing, thoughts, and insights from the heart of Japan..") %>
<div class="about">
  <div class="scummy_def">
    <h1>Scummy Breakfast</h1>
    <p><strong>scummy breakfast| [skuhm-ee brek-fuhst] | noun phrase</strong>
    <p>A scummy breakfast is a breakfast eaten with friends at an obscene hour of the morning. Members are typically hungover, and the method of transportaiton is preferably a carpool. If you're located in Albuquerque, you can do a lot worse than the Burrito Pronto smothered in Red & Green at <a href="https://www.hellodeliabq.com/" target="_blank">Hello Deli</a>.</p>
  </div>
  <div>
    <h1>SB is the blog of</h1>
    <p>Jeffrey Goldman<br>Tokyo, Japan<br>email: jeffreycgoldman@gmail.com</p>
    <p>Jeff is a self-taught programmer and startup frontlinesman specializing in Ruby On Rails, programatic localization, SEO, and team management. He's lived and worked in Japan for 7+ years and speaks Japanese fluently and idiomatically. 
    <p>Please drop him a line at the email above and enjoy the bouldering vid below.</p>  
  <div class="video">
    <iframe width="560" height="340" src="https://www.youtube.com/embed/7et3okOENO4" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
