<div class ="center jumbotron">
  <h1>Welcome home!</h1>
  <p>Gonna try and make this into a blog type guy. Please hold for a moment.<p>
  <p>
    <%= link_to("You can check out my current page here.", "http://kenshin6.github.io/", target: "_blank") %>
  </p>

  <%=link_to "Sign up", signup_path, class: "btn btn-lg btn-primary"%>

</div>
