<% unless logged_in? %>
  <%= render 'static_pages/not_logged_in_home' %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <% if @feed_items.any? %>
      <ol class="posts">
        <%= render @feed_items %>
      </ol>
      <div class="pager">
        <%= will_paginate @feed_items %>
      </div>
    <% end %>
  </div>
</div>
