- provide(:title, "A blog about coding, climbing, and living in Japan.")
%h1
  Welcome home!
%p
  Gonna try and make this into a blog type guy. Please hold for a moment.
%p
  =link_to("You can check out my current page here.", "http://kenshin6.github.io/", target: "_blank")
