<% provide(:title, 'All users') %>
<div class="container">
  <div class="col-md-9 col-sm-12 col-xs-12">
    <div class="row">
      <h1>All users</h1>
      <div class="pager_container">
        <%= will_paginate %>
      </div>
      <ul class="users">
        <%= render @users %>
      </ul>
      <div class="pager_container">
        <%= will_paginate %>
      </div>
    </div>
  </div>
</div>
