<% provide(:title, "New post") %>
<% provide(:form_url, posts_path(@post)) %>
<h1>Update this post</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/post_form' %>
  </div>
</div>

