@import "bootstrap-sprockets";
@import "bootstrap";
/* colors */

$main-color: #FFCA28;
$light-main-color: #FFECB3;
$light-grey: #EEEEEE;
/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
  overflow: auto;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

a {
  color: $main-color;
}

/* header 

#logo {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  text-decoration: none;
  }
}
*/

header {
  height: 40px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

li#new_post_button {
  background-color: $main-color;
  a {
    color: white;
  }
}

.navbar-nav {
  background-color: white;
}

.navbar-default .navbar-nav > li > a{ 
  color: $main-color;
  font-size: 18px;
  font-family: Georgia,Times,Times New Roman,serif; 
}

.navbar-default {
  background-color: white;
  border-color: $light-grey;
  box-shadow: 0 0 1px $light-main-color;
  a {
    color: $main-color;
  }
}

.collapsed {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border-color: $main-color;
  .icon-bar {
    background-color: $main-color;
  }
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px;
  margin-left: 10px;
  width: auto;
}

.nav-up {
  top: -50px;
}

/* mixins, etc */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.pager {
  text-align: center;
}

/* sidebar */

.user_info {
  text-align: center;
  margin-bottom: 20px;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top :20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* User index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $main-color;
  }
}

/* Posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 0px 20px 0px 10px;
  }
  .post_tab {
    border-bottom: 1px solid $light-grey;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    font-size: 18px;
    font-family: Georgia,Times,Times New Roman,serif;
    display: block;
    /*margin-left: 60px;*/ 
    img {
      display: block;
      padding: 5px 0;
    }
    tr:hover {
      background-color: #f5f5f5;
    }
    th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    }
    tr:nth-child(even) {
    background-color: #f2f2f2;
    padding: 5px;
    }
    th, td {
    border-bottom: 1px solid #ddd;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .author_box {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.about {
  font-size: 18px;
  font-family: Georgia,Times,Times New Roman,serif;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.main_image {
  vertical-align: "middle";
  margin-bottom: 10px;
}

/* About */

.about {
  .scummy_def {
  border-bottom: 1px solid $light-main-color;
  }
  .video {
  margin-top: 5px;
  }
}

/* Sidebars */
.sidebar {
  border-left: 1px solid $light-grey;
  height: 100%;
}

.tag_links {
  width: 35%;
  border-bottom: 1px solid $light-grey;
  list-style: none;
  padding: 3px;
}

.tab_img {
  padding: 5px;
}

.tags_table {
  padding: 0px;
}

@media (max-width: 991px) {
  .xs_sm_text_center {
    text-align: center;
  }
}


.counter {
  text-align: right;
  margin-bottom: 10px;
}

#post_title {
  margin-bottom: 3px;
}

.pager_container {
  text-align: center;
} 
